<div class="container">
  <div class="col-sm-10 col-sm-offset-1">
    <%= form_for(@user, :html => {:class => "form-group"}) do |f| %>
      <%= f.text_field :first_name, :value => @user.first_name, :placeholder => "First name", :class => "form-control" %>
      <%= f.text_field :last_name, :value => @user.last_name, :placeholder => "Last name", :class => "form-control" %>
      <%= f.email_field :email, :value => @user.email, :placeholder => "Email", :class => "form-control" %>
      <%= f.password_field :first_name, :value => @user.first_name, :placeholder => "Password", :class => "form-control" %>
      <%= f.submit "Update", :class => "btn btn-submit" %>
    <% end %>
  </div>
</div>
