<% @posts.each do |post| %>
	<div>
		<h2><%= post.title %></h2>
		<p><%= post.authors %></p>
		<p><%= post.isbn10 %></p>
		<p><%= post.isbn13 %></p>
		<p><%= post.description %></p>
	</div>
<% end %>
