<% @posts.each do |post| %>
	<div class="jumbotron">
		<h2 class="text-center"><%= post.title %></h2>
		<p><%= post.authors %></p>
		<p><%= post.isbn10 %></p>
		<p><%= post.isbn13 %></p>
		<p><%= post.price %></p>
		<% if post.editable?(current_user) %>
			<%= link_to "(Edit post)", edit_post_path(post) %>
		<% else %>
			<%= link_to "(View full post)", post_path(post) %>
		<% end %>
	</div>
<% end %>
