<!DOCTYPE html>
<html>
  <head>
    <title>TextbooksGuam</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "TextbooksGuam", root_path %>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Log in", login_path if current_user.nil? %></li>
          <li><%= link_to "Sign up", signup_path if current_user.nil? %></li>
          <li><%= link_to "Create post", create_path if !current_user.nil? %></li>
          <li><%= link_to "Account", current_user if !current_user.nil? %></li>
          <li><%= link_to "Log out (#{current_user.email})", logout_path if !current_user.nil? %></li>
        </ul>
      </div><!-- /.container-fluid -->
    </nav>
    <%= yield %>
  </body>
</html>
